* {
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
}
body {
  background: rgb(5, 78, 161);
  font: normal 15pt arial;
}

h1 {
  margin: 1rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  color: white;
}

section {
  background-color: white;
  width: 500px;
  padding: 0.5rem 0 0rem 0;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 3px 3px 3px rgb(0, 0, 0, 0.5);
}
.img {
  display: block;
  margin: auto;
  width: 470px;
  border-radius: 1%;
}
.res {
  text-align: center;
  margin: 1rem auto;
}
p {
  font-size: 1.1rem;
  padding-bottom: 1rem;
}
